.blogs {
  margin: 20px;
}

.blogs a {
  text-decoration: none;
  color: #666;
}

.blogs a:hover {
  background-color: #666;
  color: #000;
}

.blogs ul {
  margin: 5px;
}

.blogs li {
  margin-left: 10px;
}
