.blogs {
  margin: 20px;
  padding: 20px;
}

.blogs a {
  text-decoration: none;
  color: #ddd;
}

.blogs a:hover {
  background-color: #ddd;
  color: #000;
}

.blogs ul {
  margin: 5px;
}

.blogs li {
  margin-left: 10px;
}

.blog, .blogs {
  margin: 0 28%;
  padding: 30px;
}
