.images, .images a {
  color: white;
}

.images a:hover {
  background-color: #666;
  color: #000;
}

.images, .images td.action a {
  margin: 20px;
}

table, th, tr, td {
  border: 1px solid white;
  margin: 2px;
  padding: 20px;
}

.images .gallery {
  margin:  5% 7%;
}
