.gallery_container {
  min-height: 1000px;
}

.images, .images a {
  color: white;
}

.images a:hover {
  background-color: #666;
  color: #000;
}

.images, .images td.action a {
  margin: 20px;
}

table, th, tr, td {
  border: 1px solid white;
  margin: 2px;
  padding: 20px;
}

.images .gallery {
  margin:  0% 7% 5%;
}

.images .image_header {
  height: 20px;
}

.arts .arts_footer {
  height: 130px;
  margin: 2px 100px 0 0;
}
