body {
  background-color: #111;
}

.header {
  border-bottom: 2px solid #fff;
  height: 82px;
}

.content {
  background-color: #1b1b1b;
  margin: 10px 20px 20px;
}

.content .top_nav {
  margin-left: 580px;
  padding-bottom: 20px;
}

/*Generic */

.left {
  float: left
}

.right {
  float: right;
}

ul {
  list-style: none;
}

/* About Me */
.about_me {
}
