body {
  background-color: #111;
}

.header {
  border-bottom: 2px solid #fff;
  height: 82px;
}

.content {
  background-color: #1b1b1b;
  margin: 2%;
  width: 96%;
}

.content .top_nav {
  margin-left: 580px;
  padding-bottom: 20px;
}

.pagination {
  clear: both;
  background: #333;
  padding: 20px;
  text-align: center;
}

/*Generic */

.large {
  font-size: 30px;
}

.left {
  float: left
}

.right {
  float: right;
}

.center {
  text-align: center;
}

ul {
  list-style: none;
}

.white {
  color: white;
}

.grey {
  color: #666;
}

.border {
  border: 1px solid white;
}

.border_grey {
  border: 3px solid #666;
}

.block {
  display: block;
}

.yellow {
  color: #c8c132;
}

/* About Me */
.about_me_content {
  height: 400px;
}

.about_info {
  width: 500px;
}

/* gallery */
.gallery .photo_container {
  background-color: #555;
  float: left;
  height: 270px;
  margin: 20px 42px;
  width: 200px;
}

.gallery .photo_frame {
  background-color: #222;
  height: 160px;
  margin: 10px 10px 10px;
  width: 180px;
}

.gallery .photo_container img {
  height: 148px;
  margin: 6px;
  width: 168px;
}

.gallery .photo_container .photo_info {
  color: #aaa;
  margin: 2px 8px;
}

/* Container */
.grey_container {
  border: 3px solid #666;
  padding: 10px;
  width: auto;
}
