body {
  background-color: #111;
  background: url("../images/bg_bike.jpg") repeat scroll 0 0 #111111;
}

.header {
  border-bottom: 2px solid #2D0A04;
  height: 82px;
}

.content, .footer {
  margin: 2%;
  width: 96%;
}

.content .top_nav {
  margin-left: 580px;
  padding-bottom: 20px;
}

.pagination {
  clear: both;
  background: #2D0A04;
  padding: 20px;
  text-align: center;
}

.facebook_like_box {
  border: 4px solid #666666;
  display: none;
  margin: 62px 0 0 50px;
}

/*Generic */

.large {
  font-size: 30px;
}

.left {
  float: left
}

.right {
  float: right;
}

.center {
  text-align: center;
}

ul {
  list-style: none;
}

.white {
  color: white;
}

.site_font_colour {
  color: #2D0A04;
}

.grey {
  color: #666;
}

.border {
  border: 1px solid white;
}

.border_grey {
  border: 3px solid #666;
}

.border_brown {
  border: 3px solid #2D0A04;
}

.block {
  display: block;
}

.yellow {
  color: #c8c132;
}

.text_bk_layer {
  background: none repeat scroll 0 0 #170A04;
  opacity: 0.7;
}

/* About Me */
.about_me_content {
  height: 500px;
}

.about_info {
  padding: 12px;
}

.about_info, .about_info ul {
  width: 500px;
}

.about_info ul li.last {
  margin-top: 10px;
}

/* gallery */
.gallery .photo_container {
  background-color: #AEAE82;
  float: left;
  height: 270px;
  margin: 20px 42px;
  width: 200px;
}

.gallery .photo_frame {
  background-color: #100A04;
  height: 160px;
  margin: 10px 10px 10px;
  width: 180px;
}

.gallery .photo_container img {
  height: 148px;
  margin: 6px;
  width: 168px;
}

.gallery .photo_container .photo_info {
  color: #2D0A04;
  margin: 2px 8px;
}

/* Container */
.grey_container {
  border: 3px solid #666;
  padding: 10px;
  width: auto;
}

/* Footer */
.footer {
  padding: 1%;
}

.footer .information {
  height: 75px;
  margin-left: 30%;
  margin-bottom: 1%;
}

.footer a:hover {
  color: white;
}

.footer li {
  padding: 1px;
}
