body {
  background-color: #111;
}

.header {
  border-bottom: 2px solid #fff;
  height: 82px;
}

.content {
  background-color: #1b1b1b;
  margin: 10px 20px 20px;
}

.content .top_nav {
  margin-left: 580px;
  padding-bottom: 20px;
}

/*Generic */

.left {
  float: left
}

.right {
  float: right;
}

ul {
  list-style: none;
}

/* About Me */
.about_me_content {
  height: 400px;
}

/* gallery */
.gallery .photo_container {
  background-color: #555;
  float: left;
  height: 250px;
  margin: 30px 42px;
  width: 200px;
}

.gallery .photo_frame {
  background-color: #222;
  height: 160px;
  margin: 10px 10px 10px;
  width: 180px;
}

.gallery .photo_container img {
  height: 148px;
  margin: 6px;
  width: 168px;
}

.gallery .photo_container .photo_info {
  color: #aaa;
  margin: 0 8px;
}
