= javascript_include_tag "third_party/tabbedContent"
.top_nav.tabbed_content
  .tabs
    .moving_bg
      \&nbsp;
    %span.tab_item
      About me
    %span.tab_item
      My Clicks
    %span.tab_item
      Blog
  .slide_content
    .tabslider
