.social.center.text_bk_layer.rounded_corner
  %h2
    Do you like this site
  %iframe{ :src => "http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fabhineetbhamrablog.heroku.com%2F", :scrolling => "no", :frameborder => "0", :style => "height: 62px;", :allowTransparency => "true"}
  %br/
  %hr/
  %br/
  %h2
    I have a facebook page too...
  .facebook_like_box
    = render :partial => "shared/facebook_website"
