= javascript_include_tag "round_me"
.arts
  .gallery.center
    - url = @image.human_name rescue @image.url
    = image_tag url, :class => "grey_container rounded_corner"
    .photo_info.white
      = @image.qoute
  .facebook_like
    .right
      %iframe{ :src => "http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fabhineetbhamrablog.heroku.com%2F", :scrolling => "no", :frameborder => "0", :style => "height: 62px; width: 100%", :allowTransparency => "true"}
