.images
  %h2 Listing images
  %table
    %tr
      %th Human Name
      %th Content type
      %th Action
    - @images.try(:each) do |image|
      %tr
        %td
          = image.human_name
        %td
          = image.content_type
        %td
          = link_to 'Show', image_path(image.human_name)
  %br/
  %hr/
  = link_to 'New Image', new_image_path
