.images.images_internal.white.text_bk_layer
  %h1 New image
  = render :partial => 'images/form'
  = link_to 'Back', images_path
  %hr/
  %hr/
  %h1 New External Url
  = render :partial => "images/ext_image_form"
